*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #1f2227;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    
    
}
.navholi li{
    list-style: none;
    padding-left: 30px;
}
.navholi li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.navholi{
    display: flex;
    margin: 0;
    padding: 0;
}
.navholi > li:nth-child(3) > a:nth-child(1) {
        color: #8d8f91;
}
.drop{
    font-weight: 500;
    font-family: 'ariel', sans-serif;
    color: #989a9c;
    padding-right: 200px;
}

.button input{
    font-size: 20px;
    background: none;
    padding: 20px;
    border-radius: 5px;
    border-color: green;
    color: green;
}
.search > form:nth-child(1) > input:nth-child(1) {
    padding-bottom: 15px;
    padding-top: 7px;
    padding-left: 100px;
  }
  #Dropdown {
    background: none;
    color: white;
    border: none;
  }
  .button > input:nth-child(1) {
    padding-bottom: 8px;
    padding-top: 8px;

  }
  